/* Basic Style */

.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}

.matrix__href {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

.matrix { 
    text-align: center;
}

}

.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-row {
  display: flex;
}

.main-page__ul {
  margin: 0;
  padding: 0px;
}

.li, 
.main-page__h3 {
  list-style: none;
}

.inp, 
.butt {
  outline: none;
}

.butt {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.butt:hover {
  color: #3a3a3a;
}

/* Heading */

.main-page__h3,
.add__lab {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.inp-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.lab_width,
.inp_width {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.inp-text:focus {
  color: #333;
}

/* New Task */

.add__lab {
  display: block;
  margin: 0 0 20px;
}

.task-row__inp {
  width: 318px;
}

/* Task list */

.li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li > * {
  vertical-align: middle;
}

.inp-checkb {
  margin: 0 10px;
}

.li > .lab {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.li > .inp-text {
  width: 226px;
}

.butt-del__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.butt-del__img:hover {
  transform: rotateZ(0);
}

/* Completed */

.compl-tasks .lab {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.edit .lab {
  display: none;
}

.edit .inp_disp {
  display: inline-block;
  width: 224px;
}

.inp_disp {
  display: none;
}